$('#new-timetable-modal').modal('hide')

$("#collapsed-lesson-<%=@timetable.lesson.id%>").html("<%= escape_javascript(render('shared/lessons/lesson_collapsed_part', lesson: @lesson)) %>")
$("#collapse-lesson-<%=@timetable.lesson.id%>").collapse('show')

$('#page-body').prepend('<div class="message-popup alert alert-success alert-dismissable">Время урока было добавлено</div>');
setTimeout(function() { $('.message-popup').remove(); }, 5000);