<% if object.errors.any? %>
	<div class="error-explanation">
		<div class="alert alert-danger">
			Форма содержит <%= pluralize(object.errors.count, "ошибку") %>.
		</div>
		<ul>
			<% object.errors.full_messages.each do |msg| %>
				<li>* <%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %>