development:
  adapter: postgresql
  encoding: utf8
  database: nouscourse_dev
  username: nouscourse
  password: nousecourse
  host: localhost # not mandatory
  pool: 5 # not mandatory
  timeout: 5000 # not mandatory

test:
  adapter: postgresql
  encoding: utf8
  database: nouscourse_test
  username: nouscourse
  password: nousecourse
  host: localhost # not mandatory
  pool: 5 # not mandatory
  timeout: 5000 # not mandatory

production:
  adapter: postgresql
  encoding: utf8
  database: nouscourse
  username: nouscourse
  password: nousecourse
  host: localhost # not mandatory
  pool: 5 # not mandatory
  timeout: 5000 # not mandatory
