<li>
    <%= course.name %>
    <div class="btn-group pull-right">
      <%= link_to edit_course_path(course), :title => 'Редактировать курс', class: 'btn btn-default btn-sm' do %>
        <i class="glyphicon glyphicon-edit"></i>
      <% end %>
      <%= link_to course, method: :delete, :title => 'Удалить курс', class: 'btn btn-default btn-sm', data: { confirm: "You sure?" } do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
      <%= link_to course_lessons_path(course), :title => 'Список уроков', class: 'btn btn-default btn-sm' do %>
        <i class="glyphicon glyphicon-list-alt"></i>
      <% end %>
    </div>
</li>