<% provide(:title, 'Редактировать курс ' + @course.name) %>
<h1>Редактировать курс</h1>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
        <%= render 'shared/courses/course_form' %>
	</div>
</div>